body {

    background-color: rgb(255, 235, 199)
}

.esq {

    text-align: left;
    padding: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{

    padding-left: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabe{
    height: 5px;
    width: 1525px;
    background-color: rgb(255, 174, 74);
    border-radius: 25px;
}
.bk2 {
    height: 350px;
    width: 600px;
    background-color: rgb(255, 174, 74);
    border-radius: 25px;
    margin: 60px ,0;
   
    
}
.img{
    height: 350px;
    width: 350px;
    position: relative;
    left: 1100px;
    bottom: 320px;
    filter: brightness(0) saturate(100%) invert(89%) sepia(17%) saturate(4954%) hue-rotate(321deg) brightness(101%) contrast(107%);
}
.ball{
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 90px;
    background-color: rgb(255, 174, 74);
    bottom: -20px;
}
.txtball{
    position: relative;
    left: 40px;
    bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 1340px;
    margin-top: 80px;
}
.ldir{
    position: relative;
    left: 1520px;
    bottom: 900px;
    height: 1000px;
    width: 5px;
    background-color: rgb(255, 174, 74);
    border-radius: 25px;
} 